<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nshmadhani.com.wakenbake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".Models.WakeNBake"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.OtpActivity" />
        <activity android:name=".Activities.LocationActivity" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.GooglePlacesActivity"
            android:label="@string/title_activity_place"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="DATABASE"
            android:value="bookmark.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="nshmadhani.com.wakenbake" />

        <activity android:name=".Activities.BookmarkActivity" />
        <activity
            android:name=".Activities.FirebasePlaceActivity"
            android:label="@string/title_activity_firebase_place"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.TiffinPlacesActivity"
            android:label="@string/title_activity_tiffin_places"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>